*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #02070d;
}
.container{
  width: 450px;
  border: 1px solid #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.container *{
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}
.clock{
  width: 100%;
  background-color: rbga(255,255,255,0.06);
  padding: 50px 25px;
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0 25px 30px rgba(0,0,0,0.15);
}
#day{
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  color: #c5c5c5;
  text-align: center;
}
.wrapper{
  text-align: center;
}
