*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #282833;
}
.battery{
  height: 110px;
  width: 225px;
  border: 8px solid #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
}
.battery:before {
  content: "";
  position: absolute;
  margin: auto;
  height: 55px;
  width: 20px;
  background-color: #ffffff;
  right: -25px;
  bottom: 0;
  top: 0;
  border-radius: 0 7px 7px 0;
}