*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #050310;

}
h1{
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  letter-spacing: 0.05em;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.04em #ffffff;
  -webkit-background-clip: text;
          background-clip: text;
  line-height: 1.1em;
  animation: rainbow 50s linear infinite;
}
@keyframes rainbow {
  100%{
    background-position: 0 30em;
  }
}